/* header section styles */

.header {
  /* background-image: url("../resources/Banner\ Image.png"); */

  background-image:  linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.3) 100%),
  url('../resources/Banner\ Image.png');
  border-radius: 16px;
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.3) 100%); */
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
}

/* banner section styles */
#banner-title{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: normal;
}

#banner-headline{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px; /* 131.944% */
}

/* offer section styles */

.offer-percentage{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.deals{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.new-year{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}